@font-face {
    font-family: 'Gotham';
    src: url('fonts/Gotham-Bold.otf') format('otf'), 
         url('fonts/GothamMedium.ttf') format('ttf');
}

body {

    background-color: #000000;
    margin: 0;
    display: block;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    font-family: 'Gotham', sans-serif;
    font-weight: bold;

}
.carousel-container {
    position: relative;
    width: 100%; /* Span the width of the webpage */
    /* Limit maximum width for better readability */
    margin: 0 auto; /* Center the container horizontally */
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.5s;
}

.slide {
    flex: 0 0 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #19e68c;
}

.content {
    text-align: center;
}

.bigger_text {
    font-size: 200%;
    font-weight: 900;
    margin-bottom: 10px;
}

.smaller_text {
    font-weight: lighter;
}

.content img {
    max-width: 40%;
    max-height: 40%;
}

.carousel-prev,
.carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 28px; /* Slightly larger arrow size */
    cursor: pointer;
    transition: opacity 0.3s;
}

.carousel-prev {
    left: 20px;
}

.carousel-next {
    right: 20px;
}

.carousel {
    display: flex;
    transition: transform 0.5s, opacity 0.5s; /* Add opacity transition */
    opacity: 0; /* Start with 0 opacity */
}

header {
    background-color: #000000;
    color: white;
    padding: 10px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo-text {
    font-weight: bold;
    font-size: 1.2rem; /* Adjust font size as needed */
    color: white; /* Add color to the logo text */
    display: flex;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center; /* Center the links horizontally */
    align-items: center; /* Center vertically within the navbar */
    gap: 20px;
    margin: 0; /* Reset margin */
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: #19e68c; /* Change color on hover */
}

.account-button button {
    background-color: #19e68c;
    border: none;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.account-button button:hover {
    background-color: #128a5a; /* Darken color on hover */
}