<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='UTF-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <title>MySpotifyStats</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/note.ico')}}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/homestyle.css')}}"/>
        <script defer src='{{ url_for("static", filename="scripts/carousel_script.js") }}'></script>
        
    </head>
    <body>
        <main>
            <div class="navbar">
                <a href="{{url_for('home_page')}}" class="brand-link">MySpotifyStats</a>
                <ul class="nav-links">
                    <li><a href="{{url_for('top_tracks')}}" class="nav-link">Top Tracks</a></li>
                    <li><a href="#" class="nav-link">Top Artists</a></li>
                    <li><a href="#" class="nav-link">Top Genres</a></li>
                    <li><a href="#" class="nav-link">Recently Played</a></li>
                </ul>
                {% if logged_status %}
                <!-- <a class="account-link">Account</a> ADD THIS BACK AFTER-->
                <a class="signout-link" href="{{url_for('sign_out')}}">Sign Out</a>
                {% else %}
                <a class="top-login-link" href="{{url_for('authorize')}}">Login</a>
                {% endif %}
            </div>
            <div class="carousel-container">
                <div class="carousel">
                    <div class="slide">
                        <div class="content">
                            <img src="{{ url_for('static', filename='images/ranking.png')}}" alt="Slide 1">
                            <p class="bigger_text">Personalized Rankings.</p>
                            <p class="smaller_text">Get the standings of your most listened to artist, tracks, and genres.</p>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="content">
                            <img src="{{ url_for('static', filename='images/pie-chart.png')}}" alt="Slide 2">
                            <p class="bigger_text">Your top genres.</p>
                            <p class="smaller_text">View a detailed look at your favourite style.</p>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="content">
                            <img src="{{ url_for('static', filename='images/note.png')}}" alt="Slide 3">
                            <p class="bigger_text">What song was that?</p>
                            <p class="smaller_text">Get a list of what you listened to, and when.</p>
                        </div>
                    </div>
                </div>
                <button class="carousel-prev">◀</button>
                <button class="carousel-next">▶</button>
            </div>
            <div class="bottomrow">
                {% if logged_status == False %}
                <div></div>
                <div class="bigger_text_white">Login with your spotify account</div>
                <div></div>
                <div></div>
                <a class="login_link" href="{{url_for('authorize')}}">Login</a>
                {% else %}
                <div></div>
                <div class="bigger_text_white">Welcome {{ username }}!</div>
                <div></div>
                <div></div>
                <a class="login_link" href="{{url_for('top_tracks')}}">View Stats</a>
                {% endif %}
            </div>
        </main>
    </body>
</html>